@import dev.tchiba.sdmt.core.models.domainmodel.DomainModel
@import dev.tchiba.sdmt.core.models.project.Project

@(model: DomainModel, project: Project)(implicit request: MessagesRequestHeader)

@main("ドメインモデル詳細", Some(project)) {
  <div class="container">
    <div class="row">
      <h3 class="display-6">@{project.name}</h3>
      <p>
        <a href="@routes.ProjectController.findByProjectAlias(project.alias.value)">プロジェクトに戻る</a>
      </p>

      <dl>
        <dt>日本語名</dt>
        <dd>@{model.japaneseName}</dd>
        <dt>English Name</dt>
        <dd>@{model.englishName}</dd>
        <dt>仕様</dt>
        <dd>
        @Html(model.specificationToHtml)
        </dd>
      </dl>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <a class="btn btn-primary btn-lg" href="@routes.UpdateDomainModelController.updateDomainModelFormPage(project.alias.value, model.englishName)" role="button">編集</a>
        </p>
      </div>
      <div class="col">
      @helper.form(action = routes.DeleteDomainModelController.deleteDomainModel(project.alias.value, model.id.string)) {
        @helper.CSRF.formField
        <button type="submit" class="btn btn-danger">削除する</button>
      }
      </div>
    </div>

  </div>
}