@import domain.models.domainmodel.DomainModel
@import domain.models.project.Project

@(project: Project, domainModels: Seq[DomainModel])

@main(s"Project: ${project.name}", Some(project)) {
  <div class="bg-light p-3 p-sm-5 mb-4">
    <div class="container">
      <h1 class="display-4">@{project.name}</h1>
      <p>@{project.overview}</p>
    </div>
  </div>
  <div class="container">
    <h2 class="display-6">ドメインモデル一覧</h2>
    <a class="btn btn-primary btn-sm" href="@routes.AddDomainModelController.addDomainModelFormPage(project.alias.value)" role="button">＋新しいドメインモデルの追加</a>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">日本語名</th>
            <th scope="col">English Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        @for(model <- domainModels) {
          <tr>
            <td>@{model.japaneseName}</td>
            <td>@{model.englishName}</td>
            <td><a href="@routes.DomainModelController.findByEnglishName(model.englishName, project.alias.value)">仕様</a></td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
}