@import dev.tchiba.sdmt.core.models.project.Project

@(projects: Seq[Project])

@main("Top") {
  <main>
    <div class="bg-light p-3 p-sm-5 mb-4">
      <div class="container">
        <h1 class="display-4">ようこそ！</h1>
        <p>これはシンプルなドメインモデリングのためのツールです。まずはプロジェクトを作りましょう！</p>
        <a class="btn btn-primary btn-lg" href="@routes.AddProjectController.addProjectFormPage()" role="button">＋ プロジェクト作成</a>
      </div>
    </div>

    <div class="container">
      <h2 class="display-6">プロジェクト一覧</h2>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">エイリアス</th>
              <th scope="col">プロジェクト名</th>
              <th scope="col">プロジェクト概要</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          @for(project <- projects) {
            <tr>
              <td>@{project.alias.value}</td>
              <td>@{project.name}</td>
              <td>@{project.overview}</td>
              <td><a href="@routes.ProjectController.findByProjectAlias(project.alias.value)">詳細</a></td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </main>
}
