<h1>プロジェクト一覧</h1>
<table mat-table [dataSource]="projects" class="mat-elevation-z8">
  <ng-container matColumnDef="project-alias">
    <th mat-header-cell *matHeaderCellDef>Alias</th>
    <td mat-cell *matCellDef="let project"> {{project.alias}}</td>
  </ng-container>

  <ng-container matColumnDef="project-name">
    <th mat-header-cell *matHeaderCellDef>name</th>
    <td mat-cell *matCellDef="let project"> {{project.name}}</td>
  </ng-container>

  <ng-container matColumnDef="project-overview">
    <th mat-header-cell *matHeaderCellDef>overview</th>
    <td mat-cell *matCellDef="let project"> {{project.overview}}</td>
  </ng-container>

  <ng-container matColumnDef="project-detail">
    <th mat-header-cell *matHeaderCellDef>詳細</th>
    <td mat-cell *matCellDef="let project"><a routerLink="/projects/{{project.id}}">詳細</a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
