@import domain.models.project.Project
@import interfaces.forms.domainmodel.AddDomainModelForm

@(addForm: Form[AddDomainModelForm.Data], project: Project)(implicit request: MessagesRequestHeader)

@main("ドメインモデルの追加") {
  <div class="container">
    <h2 class="display-6">ドメインモデルの追加</h2>
    <p><a href="@routes.ProjectController.findByProjectAlias(project.alias.value)">戻る</a></p>
    @helper.form(action = routes.AddDomainModelController.addDomainModel(project.alias.value)) {
      @helper.CSRF.formField
      @helper.inputText(addForm("japaneseName"), Symbol("class") -> "form-control")
      @helper.inputText(addForm("englishName"), Symbol("class") -> "form-control")
      <p>※次のspecificationはMarkdownで記述できます。</p>
      @helper.textarea(addForm("specification"), Symbol("class") -> "form-control", Symbol("rows") -> "25")
      <button type="submit" class="btn btn-primary">ドメインモデル追加</button>
    }
  </div>
}