@import domain.models.project.Project
@import interfaces.forms.domainmodel.AddDomainModelForm

@(addForm: Form[AddDomainModelForm.Data], project: Project)(implicit request: MessagesRequestHeader)

@main("ドメインモデルの追加") {
  <div class="container">
    <h2 class="display-6">ドメインモデルの追加</h2>
    <p><a href="@routes.ProjectController.findByProjectAlias(project.alias.value)">戻る</a></p>
    @helper.form(action = routes.AddDomainModelController.addDomainModel(project.alias.value)) {
      @helper.CSRF.formField
      @helper.inputText(addForm("japaneseName"), Symbol("class") -> "form-control")
      @helper.inputText(addForm("englishName"), Symbol("class") -> "form-control")
      @helper.input(addForm("specification")) { (id, name, value, args) =>
        <p>Markdownで記述する</p>
        <textarea id="@id" name="@name" value="@value" class="form-control" rows="50"></textarea>
      }
      <button type="submit" class="btn btn-primary">ドメインモデル追加</button>
    }
  </div>
}